html, body {
    min-height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

.gradient-rainbow {
    background-repeat: no-repeat;
    background-image: linear-gradient(135deg, #EB5F8E, transparent 70%), linear-gradient(45deg, #FE981D, #FCC31E,#35ADCE 85%), linear-gradient(135deg,#EB5F8E,#FCC31E,#35ADCE), linear-gradient(270deg, #35ADCE, transparent 30%);
}

.pride-flag-circle {
    border-radius: 50%;
    border: 2px solid white;
    width: 100px;
    height: 100px;
}

.pride-flag-date {
    position: relative;
    top: 40px;
    left: 25px;
}

.align-items-start {
    height: fit-content;
    min-height: 150px;
    margin-bottom: 25px;
}

.hide {
    display: none;
}

.col > h1 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    background: -webkit-linear-gradient(#FE981D, #FCC31E,#35ADCE 85%), linear-gradient(135deg,#EB5F8E,#FCC31E,#35ADCE), linear-gradient(270deg, #35ADCE, transparent 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xxx-large;
}