html, body {
    min-height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

.gradient-rainbow {
    background-repeat: no-repeat;
    background-image: linear-gradient(135deg, #EB5F8E, transparent 70%), linear-gradient(45deg, #FE981D, #FCC31E,#35ADCE 85%), linear-gradient(135deg,#EB5F8E,#FCC31E,#35ADCE), linear-gradient(270deg, #35ADCE, transparent 30%);
}

.header {
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: fit-content;
}

.text-background {
    background-color: rgba(0,0,0,0.3);
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.pride-flag-circle {
    border-radius: 50%;
    border: 2px solid white;
    width: 150px;
    height: 150px;
}

.pride-flag-date {
    position: relative;
    margin-top: -37%;
    margin-left: 46%;
    color: white;
    background-color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 10%;
}

.info-row {
    height: fit-content;
    min-height: 150px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.hide {
    display: none;
}

.header-h1 {
    text-align: center;
    background: -webkit-linear-gradient(#FE981D, #FCC31E,#35ADCE 85%), linear-gradient(135deg,#EB5F8E,#FCC31E,#35ADCE), linear-gradient(270deg, #35ADCE, transparent 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xxx-large;
}

@media screen and (max-width: 1200px) {
    .pride-flag-date {
        margin-top: -45%;
    }
}

@media screen and (max-width: 992px) {
    .pride-flag-date {
        margin-top: -62%;
    }
}

@media screen and (max-width: 768px) {
    .pride-flag-date {
        margin-top: -66px;
        margin-left: 45%;
        padding: 5px;
    }

    .pride-flag-circle {
        width: 100px;
        height: 100px;
    }
}